---
layout: default
title: Novita Interpares
---
<section id="top">
   <div class="content">
      <div class="entry">
         <div class="row">
            <div class="span12">
               <div class="logo">
                  <img src="assets/novita-interpares.png" class="logo" />
               </div>
            </div>
            <div class="arrow" style="padding-top: 140px;">
               <img src="assets/arrow.png" />
            </div>
         </div>
      </div>
   </div>
</section>





<section id="1">
   <div class="content">
      <div class="entry">
         <div class="row">
            <div class="span8">
               <h1>1200 / {{ site.time | date: '%Y' | minus: "1972" }}</h1>
               <p>In the 45 years since the founding of our company in 1972, we have provided consulting services and professional advice to more than 1,200 clients.</p>
               <p>In the first 20 years our projects were all in the <b>cultural</b> sector.</p>
               <p>In the next 25 years we added <b>social</b> sector projects.</p>
               <p>Our 1,200 projects have been carried out in communities all across Canada - in villages, in towns, in regional cities and in major metropolitan centres.</p>
            </div>
         </div>
      </div>
   </div>
</section>




<section id="2">
   <div class="content">
      <div class="entry">
         <div class="row">
            <div class="span8">
               <h1>Our Advice</h1>
               <p>We provide consulting services and professional advice in many forms:</p>
               <ul>
                  {% for advice in site.data.data.advices %}
                  <li><div class="awesomedot"></div></i>{{ advice.name }}</li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="3">
   <div class="content">
      <div class="entry">
         <div class="row">
            <div class="span12">
               <h1>Our Clients</h1>
               <p>We work with a diverse group of people and organizations.</p>
               <br>
            </div>
            <ul>
               {% for client in site.data.data.clients %}
               <li>{{ client.name }}</li>
               {% endfor %}
            </ul>
            <div class="span12">
               <p><b>References</b> may be provided upon request.</p>
            </div>
         </div>
      </div>
</section>
<section id="4">
<div class="content people">
<div class="entry">
<div class="row">
<div class="span12">
<h1>Our People</h1>
<p>Our consulting services and professional advice are provided by a multi-disciplinary team</p>
</div>
</div>


<div class="row">


{% for person in site.people %}
<div class="span6">
<img src="/assets/{{ person.name | slugify }}.jpg" />
<div class="caption">
<div class="people-title">{{ person.title }}</div>
<div class="people-name">{{ person.name }}</div>
{{ person.content }}
</div>
</div>
{% endfor %}


</div>
</div>
</div>
</section>
<section id="6">
<div class="content">
<div class="entry">
<div class="row">
<div class="span12">
<h1>The Common Need</h1>
</div>
<div class="span8">
<p>We have learned that every community -- whether it's a neighbourhood or a community of interest -- is unique in its character but shares a common need for <b>economic</b> viability.</p>
<p>Local economies - at the organizational level, at the neighbourhood level, at the municipal level and at the regional level - all strive to be <b>sustainable</b>.</p>
<p>We believe that four factors are involved in creating sustainable communities:</p>
</div>
<img src="assets/novita_diagram.png" style="margin-top:30px;height: 160px;" />
</div>
</div>
</div>
</section>
<section id="7">
<div class="content">
<div class="entry">
<div class="row">
<div class="span12">
<h1>Our Approach</h1>
</div>
<div class="span4">

<p>Sustainable villages, towns and neighbourhoods are built through a process of <b>local advancement and benefits</b>.</p>
</div>
<div class="span4">
<div class="caption">
<div class="people-title">Based on</div>
<ul>
<li>&mdash; Vision and Sense of Common Purpose</li>
<li>&mdash; Strength of Social Capital and Public Policy</li>
<li>&mdash; Capacity to attract Financing, Investment and Philanthropy</li>
</ul>
</div>
</div>
<div class="span4">
<div class="caption">
<div class="people-title">Supported by</div>
<ul>
<li>&mdash; Local Retail and Service</li>
<li>&mdash; Local Making, Manufacturing and Building</li>
<li>&mdash; Local History Culture and Tourism</li>
<li>&mdash; Local Food and Hospitality</li>
<li>&mdash; Local Learning</li>
<li>&mdash; Local Helping Support and Affinity</li>
<li>&mdash; Personal Health and Wellbeing</li>
</ul>
</div>
</div>
</div></div></div></section>
<section id="8">
<div class="content">
<div class="entry">
<div class="row">
<div class="span8">
<h1>Taking Our Own Advice</h1>
<p>The advice we provide to others related to organizational and community sustainability is <b>advice we practice ourselves</b>.</p>
<p>Lunenburg, Nova Scotia is a UNESCO World Heritage site and a model town for community development. Novita Interpares is the lead in a family of wholly owned business enterprises based in Lunenburg which include:</p>
</div>
<div style="clear:both;">


{% for venture in site.data.data.ventures %}
<div class="span4">
<div class="caption">
<a href="{{ venture.url }}">{{ venture.name }}</a>
<p>{{ venture.description }}</p>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>


</section>


<section id="9">
	<div class="content">
		<div class="entry">
			<div class="row">
				<div class="span8">
				<h1>Sustainability</h1>
				<p>We strive to operate with sustainable business practices that consider our impact on the environment and our local community and encourage our clients and partners to do the same &mdash; <a href="sustainability.html">sustainability policy</a>.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="bottom">
<div class="content">
<div class="entry">
<div class="row">
<div class="span12">

<h1 style="">We want to hear from you.</h1>
</div>
<div class="span4">
<h3>Contact</h3>
<p>For all inquiries please email <a href="mailto:info@novitainterpares.ca">info@novitainterpares.ca</a><br>T: (902) 634-0403
</div>
<div class="span4">
<h3>Follow</h3>
<p>Stay up to date <br><a href="https://twitter.com/intent/follow?screen_name=novitainterpare" target="_blank">@novitainterpare</a></p>
</div>
<div class="span4">
<h3>Address</h3>
<p>[Toronto]<br>1110 Yonge Street / Suite 200 / Toronto, ON / M4W 2L6M</p>
<p>[Lunenburg]<br>
232 Lincoln Street, 
PO Box 1557, 
Lunenburg, NS<br>
B0J 2C0<br>
</p>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<!--end container-->