

<style>

footer {
	background: #000;
	color: grey !important;
	padding:40px;
	font-family:Helvetica;
	font-size:.8em;
}

footer a {
	color:#fff;

}

</style>


<footer>

<div class="row" style="max-width: 1200px; padding: 0 60px;margin:0 auto;">


<div class="span3">

<b>Toronto</b><br>1110 Yonge Street<br>Toronto, ON<br>M4W 2L6M
</div>
<div class="span3">

<b>Lunenburg</b><br>
232 Lincoln Street<br>
Lunenburg, NS<br>
B0J 2C0


</div>


<div class="span6">
Newsletter
</div>

						
<div style="clear:both;"></div>

<div class="copyright">
	&copy; Novita Interpares Limited {{ site.time | date: '%Y' }}</div>

</div>
</footer>


